.clients__list {
  display: flex;
}
.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid $clients-logo-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $clients-logo-color;

  transition-property: border, color;
  transition-duration: $transition-time;
  transition-timing-function: $transition-function;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
.client__icon {
  fill: currentColor;
}
