body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--accent-white-color);
  color: var(--primary-text-color);
}
.title {
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 50px;
}
